<?xml version="1.0"?>
<!--
    All users are disallowed from browsing 
    the contents of the Admin folder,
    except for those in the admin role.
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
      <authorization>
        <allow roles="administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
</configuration>
